

	<hr />
	<footer class="bg-white">
		<div class="container px-8 mx-auto py-8 xl:py-16">
			<div class="xl:grid xl:grid-cols-3 xl:gap-8">
				<div class="my-8 xl:my-0">
					<a class="text-2xl font-bold text-gray-800 no-underline hover:no-underline lg:text-4xl" href="#">
						MailPace
					</a>
					<p class="mt-4 text-gray-800">Proudly hosted in the European Union <span class="">🇪🇺</span></span></p>

						<ul class="mt-4 text-gray-700">
							<li>OhMySMTP Ltd</li>
							<li>Unit G32, The Light Box</li>
							<li>111 Power Road</li>
							<li>London</li>
							<li>W4 5PY</li>
							<li>United Kingdom</li>
						</ul>
						<ul class="mt-4 text-gray-800">
							<li>Contact us: <a href="mailto:support@mailpace.com" class="hover:underline">support@mailpace.com</a></li>
						</ul>
	
				</div>
				<div class="xl:col-span-2">
					<div class="md:grid md:grid-cols-5 md:gap-8">
						<div>
							<h4 class="text-sm font-semibold tracking-wider text-gray-400 uppercase leading-5">
								Resources
							</h4>
							<ul class="mb-6 list-reset">
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://github.com/mailpace/templates"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">HTML Email Templates</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://blog.mailpace.com/blog/how-to-get-emails-delivered/"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">How to get emails delivered</a>
								</li>
							</ul>
							<!--
							<h4 class="text-sm font-semibold tracking-wider text-gray-400 uppercase leading-5">
								Migrations
							</h4>
							<ul class="mb-6 list-reset">
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://mailpace.com/mailpace-vs-mailgun"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">vs Mailgun</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://mailpace.com/mailpace-vs-amazon-ses"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">vs Amazon SES</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://mailpace.com/mailpace-vs-postmark"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">vs Postmark</a>
								</li>
							</ul>
							-->
						</div>						
						<div>
							<h4 class="text-sm font-semibold tracking-wider text-gray-400 uppercase leading-5">
								Why MailPace?
							</h4>
							<ul class="mb-6 list-reset">
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://mailpace.com/simple-transactional-emails"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Simple Sending</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://mailpace.com/how-we-keep-delivery-rates-high"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Deliverability is our #1 priority</a>
								</li>
								<!--
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://mailpace.com/privacy-focused-transactional-emails"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Privacy & Ethically Focused</a>
								</li>
								-->
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://mailpace.com/fast-transactional-emails"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Fast Transactional Emails</a>
								</li>
							</ul>
						</div>
						<div>
							<h4 class="text-sm font-semibold tracking-wider text-gray-400 uppercase leading-5">
								Guides
							</h4>
							<ul class="mb-6 list-reset">
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://mailpace.com/what-are-transactional-emails"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">What are Transactional Emails?</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://blog.mailpace.com/blog/whats-an-spf-record/"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">What's an SPF Record?</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://blog.mailpace.com/blog/whats-a-dkim-record/"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">What's a DKIM Record?</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://blog.mailpace.com/blog/what-is-reverse-dns-rdns/"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">What is Reverse DNS?</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://blog.mailpace.com/blog/what-is-bimi/"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">What is BIMI?</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://docs.mailpace.com/overview/firstEmail"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Send an email over HTTP</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://docs.mailpace.com/guide/inbound"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Receive emails over HTTP</a>
								</li>
								<!--
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="/migration-guides"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Migrating from other Services</a>
								</li>
								-->
							</ul>
						</div>
						<div>
							<h4 class="text-sm font-semibold tracking-wider text-gray-400 uppercase leading-5">
								Code
							</h4>
							<ul class="mb-6 list-reset">
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://docs.mailpace.com/reference/overview"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">HTTPS API</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://docs.mailpace.com/integrations/smtp"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">SMTP Server</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://github.com/mailpace/mailpace-rails"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Ruby on Rails</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://github.com/mailpace/mailpace.js"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Node.js</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://github.com/mailpace/mailpace-swiftmailer"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">PHP</a>
								</li>
							</ul>
						</div>
						<div>
							<h4 class="text-sm font-semibold tracking-wider text-gray-400 uppercase leading-5">
								Company
							</h4>
							<ul class="mb-6 list-reset">
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="mailto:support@mailpace.com"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Contact Us</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://blog.mailpace.com"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Blog</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://github.com/mailpace"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Github</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://twitter.com/MailPace"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Twitter</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://mailpace.com/terms"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Terms</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://mailpace.com/privacy"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Privacy</a>
								</li>
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://mailpace.com/dpa"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">DPA</a>
								</li>								
								<li class="inline-block mt-2 mr-2 md:block md:mr-0">
									<a href="https://status.mailpace.com/"
										class="text-gray-800 no-underline hover:underline hover:text-orange-500">Status: <span class="text-green-500">Up!</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			</div>

		</div>

	</footer>

	<!-- jQuery if you need it
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  -->

	<script>
		/*Toggle dropdown list*/
		/*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

		var navMenuDiv = document.getElementById("nav-content");
		var navMenu = document.getElementById("nav-toggle");

		document.onclick = check;

		function check(e) {
			var target = (e && e.target) || (event && event.srcElement);

			// navMenuDiv.classList.remove("text-white");
			// navMenuDiv.classList.add("text-gray-900");

			//Nav Menu
			if (!checkParent(target, navMenuDiv)) {
				// click NOT on the menu
				if (checkParent(target, navMenu)) {
					// click on the link
					if (navMenuDiv.classList.contains("hidden")) {
						navMenuDiv.classList.remove("hidden");
					} else {
						navMenuDiv.classList.add("hidden");
					}
				} else {
					// click both outside link and outside menu, hide menu
					navMenuDiv.classList.add("hidden");
				}
			}

		}

		function checkParent(t, elm) {
			while (t.parentNode) {
				if (t == elm) {
					return true;
				}
				t = t.parentNode;
			}
			return false;
		}
	</script>

	<script>
		const average = arr => (arr.reduce( ( p, c ) => p + parseFloat(c), 0 ) / arr.length).toFixed(2);
	
		function updateScores(scores) {
			document.getElementById("gmail-latest").textContent = parseFloat(scores.gmail[0]).toFixed(2);
			document.getElementById("gmail-average").textContent = average(scores.gmail)
			document.getElementById("outlook-latest").textContent = parseFloat(scores.outlook[0]).toFixed(2);
			document.getElementById("outlook-average").textContent = average(scores.outlook)
			document.getElementById("yahoo-latest").textContent = parseFloat(scores.yahoo[0]).toFixed(2);
			document.getElementById("yahoo-average").textContent = average(scores.yahoo)
		}

		if (document.getElementById("time-to-inbox")) {
			const timeToInboxScores = fetch("https://app.mailpace.com/api/v1/time_to_inbox")
				.then(response => response.json())
				.then(scores => updateScores(scores))
		}
	</script>

	<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
	<script>
		Paddle.Setup({ vendor: 118970 });
	</script>