<div class="container mx-auto px-12 py-12 lg:py-16 lg:items-center">
  <h3
    class="
      text-3xl
      leading-9
      font-extrabold
      tracking-tight
      text-gray-800
      sm:text-4xl
      sm:leading-10
    "
  >
    Ready to dive in?<br />
    <span class="text-white"> Start sending today. </span>
  </h3>
  <div class="mt-8">
    <div class="inline-flex rounded-md shadow">
      <a
        href="https://app.ohmysmtp.com/users/sign_up"
        class="
          inline-flex
          items-center
          justify-center
          bg-blue-500
          shadow-lg
          hover:bg-blue-400
          px-5
          py-3
          border border-transparent
          text-base
          leading-6
          font-medium
          rounded-md
          text-white
          focus:outline-none
          focus:shadow-outline
          transition
          duration-150
          ease-in-out
        "
      >
        Start Sending
      </a>
    </div>
  </div>
</div>
