---
import Layout from '~/layouts/MailPaceVersus.astro';
import Headline from '~/components/widgets/features/Headline.astro';
import TestimonialList from '~/components/common/TestimonialList.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import TimeToInbox from '~/components/widgets/TimeToInbox.astro';
import SmtpCodeTabs from '~/components/widgets/SmtpCodeTabs.astro';
import Documentation from '~/components/widgets/features/Documentation.astro';

const metadata = {
  title: 'MailPace - Fast Transactional Email with SMTP Server',
};
---

<Layout metadata={metadata}>
  <Headline
    feature="Send over SMTP"
    subtitle="Send transactional emails using our SMTP server, and make integration a breeze"
  />

  <div class="max-w-3xl mx-auto mt-8 mb-8 px-4 sm:px-6 text-xl">
    <h2 class="text-2xl font-bold mb-4">What is SMTP?</h2>
    <p class="mb-4">
      SMTP, or Simple Mail Transfer Protocol, is a protocol for sending email messages between servers. It has been the backbone of email communication since 1982, and almost all developer frameworks and tools support SMTP out of the box, making it one of the easiest ways to integrate with MailPace. 
    </p>
    <h2 class="text-2xl font-bold mb-4">Sending Emails with SMTP</h2>
    <p>
      Sending with SMTP is often the easiest way to integrate an existing application with MailPace. Simply change your SMTP settings to point to our servers, and you're ready to go.
    </p>
    <p class="mt-4">
      Here's some examples of how to send emails using SMTP with MailPace:
    </p>
  </div>

  <SmtpCodeTabs />

  <Documentation />

  <TimeToInbox />

  <TestimonialList />

  <CallToAction
    title="Ready to send?"
    actions={[
      {
        variant: 'primary',
        text: 'Start Sending',
        href: 'https://app.mailpace.com/users/sign_up',
        target: '_blank',
        icon: 'tabler:bolt',
      },
    ]}
  />
</Layout>
