---
import Layout from '~/layouts/MailPaceVersus.astro';
import Headline from '~/components/widgets/features/Headline.astro';
import TestimonialList from '~/components/common/TestimonialList.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import TimeToInbox from '~/components/widgets/TimeToInbox.astro';
import CodeTabs from '~/components/widgets/CodeTabs.astro';
import Documentation from '~/components/widgets/features/Documentation.astro';
import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'MailPace - Transactional Email with Unlimited Webhooks',
};
---

<Layout metadata={metadata}>
  <Headline
    feature="Webhooks"
    subtitle="Integrate with other applications and track sending & performance with our unlimited webhooks as standard."
  />

  <div class="lg:py-4 max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-xl text-muted dark:text-slate-400 text-center">
    <p class="mb-2">
      MailPace comes with <span class="font-bold">unlimited webhooks</span> on every account. Once enabled, when an email
      is queued, delivered, bounced, or marked as spam, we will send a POST request to your webhook endpoint.
    </p>

    <p class="mt-8 mb-12">
      Setup is simple. Simply create your domain inside MailPace, choose the webbooks you'd like to enable, and set the
      endpoint(s) to forward the data to.
    </p>

    <div class="flex justify-center">
      <Button variant="primary" href="https://docs.mailpace.com/guide/webhooks" target="_blank" class="mt-4"
        >Learn more about our webhooks
      </Button>
    </div>
  </div>

  <CodeTabs />

  <Documentation />

  <TimeToInbox />

  <TestimonialList />

  <CallToAction
    title="Ready to send?"
    actions={[
      {
        variant: 'primary',
        text: 'Start Sending',
        href: 'https://app.mailpace.com/users/sign_up',
        target: '_blank',
        icon: 'tabler:bolt',
      },
    ]}
  />
</Layout>
