---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'MailPace - Fast Transactional Email',
};
---

<Layout metadata={metadata}>
  <div class="pt-36">
    <div class="container mx-auto w-4/5 md:flex-row text-center">
      <div class="w-full md:w-4/5 mx-auto">
        <h1 class="my-4 text-5xl font-bold leading-tight">
          Ensure your transactional emails arrive quickly with our fast transactional email service
        </h1>
        <p class="uppercase">Why MailPace</p>
      </div>
    </div>
  </div>
  <div class="mt-20 pb-12 pt-12 text-black bg-white">
    <div class="container items-center px-3 pb-4 mx-auto md:w-2/5 md:flex-row leading-7">
      <p class="my-4">
        <strong>Transactional emails need to arrive in the inbox now.</strong> They are often used for activities that require
        an immediate response (e.g. account verification) and slow transactional emails are not an option. In many cases
        users expect transactional emails to land in their inbox almost instantly, and it can be real detraction to customer
        confidence when they don't. If you've ever had to wait a few hours for a receipt for an online purchase, you will
        know exactly why.
      </p>
      <p class="my-4">
        At
        <a href="https://mailpace.com" class="text-gray-800 underline">MailPace.com</a>
        we measure, track and optimize for time to inbox. We publish live results for all to see to hold ourselves accountable
        to our fast transactional email delivery times.
      </p>

      <section class="py-8 bg-white" id="time-to-inbox">
        <div class="mx-auto">
          <h3 class="text-xl text-center font-bold text-gray-800 uppercase leading-10">Time to Inbox Timings</h3>
          <div
            class="grid
              gap-4
              mt-4
              mb-6
              text-gray-800
              md:grid-cols-3
              sm:grid-cols-1
              md:mx-8"
          >
            <div class="text-center">
              <h3 class="text-2xl font-bold">Gmail</h3>
              <p>
                <span id="gmail-latest" class="text-4xl text-green-500">...</span>s
              </p>
              <p>Avg: <span id="gmail-average">-</span>s</p>
            </div>
            <div class="text-center">
              <h3 class="text-2xl font-bold">Outlook</h3>
              <p>
                <span id="outlook-latest" class="text-4xl text-green-500">...</span>s
              </p>
              <p>Avg: <span id="outlook-average">-</span>s</p>
            </div>
            <div class="text-center">
              <h3 class="text-2xl font-bold">Yahoo</h3>
              <p>
                <span id="yahoo-latest" class="text-4xl text-green-500">...</span>s
              </p>
              <p>Avg: <span id="yahoo-average">-</span>s</p>
            </div>
          </div>
          <p class="mt-16 mb-12">
            The figures above are calculated by sending an email to each of those providers, waiting for it to land in
            the inbox, retrieving the email and measuring how long the entire process took from start to finish. Each
            figure is updated every ten minutes, and the average covers the last twenty-four hours.
          </p>
          <hr />
          <h3 class="mt-12 text-xl">
            As you can see, MailPace is <strong>a fast transactional email provider</strong>. Our service is fast,
            simple and straightforward, sign up and get sending today.
          </h3>
        </div>
      </section>
    </div>
  </div>
</Layout>
