---
import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import TimeToInbox from '~/components/widgets/TimeToInbox.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'MailPace - Fast Transactional Email',
};
---

<Layout metadata={metadata}>
  <div class="pt-36">
    <div class="container mx-auto md:flex-row text-center">
      <div class="w-full mx-auto">
        <h1 class="text-5xl font-bold leading-tight">Time To Inbox</h1>
        <p class="uppercase">How we measure and track our speed</p>
      </div>
    </div>
  </div>
  <div class="mt-20 pb-12 pt-12">
    <div class="container items-center mx-auto md:w-3/5 md:flex-row leading-7">
      <p class="mt-2 mb-0 px-6">
        <strong>Transactional emails need to arrive in the inbox now.</strong> They often require an immediate response (e.g.
        account verification) and slow transactional emails are not an option. Users expect transactional emails to land
        in their inbox almost instantly, and it can be real detraction to customer confidence when they don't. If you've
        ever had to wait a few hours for a receipt for an online purchase, you will know exactly why.
      </p>

      <TimeToInbox />

      <p class="mb-2 px-6">
        The figures above are calculated by sending an email to each of those providers, waiting for it to land in the
        inbox, retrieving the email and measuring how long the entire process took from start to finish. Each figure is
        updated every ten minutes, and the average and chart covers the last twenty-four hours.
      </p>

      <FAQs
        title="Time To Inbox"
        tagline="FAQs"
        classes={{ container: 'max-w-6xl' }}
        columns={1}
        items={[
          {
            title: 'How Quickly Do Emails Reach Inboxes?',
            description:
              'We target under 10 seconds, but the time it takes for an email to arrive in a recipient`s inbox does vary due to network, and inbox provider performance. Our system is optimized to ensure minimal delays and consistent performance.',
          },
          {
            title: 'What Affects Email Delivery Speed?',
            description:
              'Factors like recipient email provider, server congestion, and spam filtering processes can impact how fast an email is delivered. We continuously monitor these variables to maintain efficiency.',
          },
          {
            title: 'How Do You Measure Time To Inbox (Email Delivery Time)?',
            description:
              'We send test emails every ten minutes to major email providers, such as Gmail, Yahoo, and iCloud, and track the time it takes for each message to become available in the inbox over IMAP.',
          },
          {
            title: 'Is Your Delivery Speed Consistent?',
            description:
              'Yes! Our infrastructure is built for reliability, ensuring fast and predictable delivery speeds across all email providers.',
          },
          {
            title: 'Can I Improve My Email Delivery Time?',
            description:
              'Potentially! Complete advanced verification to ensure full DMARC alignment, maintain a good sender reputation, and stick solely to relevant transactional content.',
          },
          {
            title: 'How Do You Compare to Other Email Providers?',
            description:
              'While most email service providers do not share their delivery times, we remain transparent about our speed and work to maintain top-tier performance. Feel free to compare our times against the few providers that do publish their delivery speeds.',
          },
        ]}
      />

      <hr />
      <h3 class="mt-12 text-xl px-6">
        MailPace is <strong>a fast transactional email provider</strong>. Our service is fast, simple and
        straightforward, sign up and get sending today.
      </h3>

      <CallToAction
        title="Ready to send?"
        actions={[
          {
            variant: 'primary',
            text: 'Start Sending',
            href: 'https://app.mailpace.com/users/sign_up',
            target: '_blank',
            icon: 'tabler:bolt',
          },
        ]}
      />
    </div>
  </div>
</Layout>

<script>
  const average = (arr) => (arr.reduce((p, c) => p + parseFloat(c), 0) / arr.length).toFixed(2);

  function updateScores(scores: { gmail: string[]; outlook: string[]; yahoo: string[] }) {
    const gmailLatest = document.getElementById('gmail-latest');
    const gmailAverage = document.getElementById('gmail-average');
    const outlookLatest = document.getElementById('outlook-latest');
    const outlookAverage = document.getElementById('outlook-average');
    const yahooLatest = document.getElementById('yahoo-latest');
    const yahooAverage = document.getElementById('yahoo-average');

    if (gmailLatest) gmailLatest.textContent = parseFloat(scores.gmail[0]).toFixed(2);
    if (gmailAverage) gmailAverage.textContent = average(scores.gmail);
    if (outlookLatest) outlookLatest.textContent = parseFloat(scores.outlook[0]).toFixed(2);
    if (outlookAverage) outlookAverage.textContent = average(scores.outlook);
    if (yahooLatest) yahooLatest.textContent = parseFloat(scores.yahoo[0]).toFixed(2);
    if (yahooAverage) yahooAverage.textContent = average(scores.yahoo);
  }

  if (document.getElementById('time-to-inbox')) {
    fetch('https://app.mailpace.com/api/v1/time_to_inbox')
      .then((response) => response.json())
      .then((scores) => updateScores(scores));
  }
</script>
