---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'MailPace - Transactional email that people love.',
};
---

<Layout metadata={metadata}>
  <div class="pt-36">
    <div class="container mx-auto w-4/5 md:flex-row text-center">
      <div class="w-full md:w-4/5 mx-auto">
        <h1 class="my-4 text-5xl font-bold leading-tight">How we get emails delivered</h1>
        <p class="uppercase">What we do to ensure our email deliverability remains high</p>
      </div>
    </div>
  </div>
  <div class="mt-20 py-12 text-black bg-white">
    <div class="container items-center px-3 pb-4 mx-auto md:w-3/5">
      <h2 class="text-2xl text-center my-10">Deliverability is our number one priority</h2>
      <p>
        Getting emails to inboxes is not easy, spammers are innovative and there are no fool proof methods to ensuring
        every email lands correctly. The big inbox providers have a myriad of methods and approaches to filter out spam
        from ham that we watch closely.
      </p>

      <p class="mt-4">
        Here's an explanation of some of the methods we use to keep our reputation high and ensure our customer's emails
        get delivered.
      </p>

      <h2 class="text-xl mb-4 mt-10 font-bold">Our Strict No Spam Policy</h2>
      <p>
        When an email comes from an MailPace server that is flagged as spam, the reputation of everyone sending with
        MailPace is impacted. Luckily we have several elements in place to help stop spam on our platform.
      </p>

      <ol class="list-decimal">
        <li class="text-lg my-4">No free plan</li>
        <p>
          Many providers let spammers sign up and send thousands of emails, for free! With MailPace, everyone sending is
          a paying user, and that dramatically reduces the volume of spammers.
        </p>
        <li class="text-lg my-4">Proof of domain ownership is always required</li>
        <p>
          Some providers don't check that the signing up account actually has authority to send emails on behalf of the
          domain. We enforce this by validating ownership over DNS during the account setup.
        </p>
        <li class="text-lg my-4">Spam filter on all outgoing emails</li>
        <p>
          We use <a href="https://rspamd.com/" class="underline">Rspamd</a> to filter every email sent through mailpace.
          Our filters are aggressive and we use the built in Neural network module to learn from spam we see in the wild.
        </p>
        <li class="text-lg my-4">Whitelisted file extension attachments</li>
        <p>
          We support attachments, but we only support a subset of file extensions (<a
            href="https://docs.mailpace.com/reference/send/#attachments"
            class="underline">details in our docs</a
          >), and virus scan them before sending. This significantly reduces the risk of dangerous files being sent
          through our service.
        </p>
        <li class="text-lg my-4">No header spoofing</li>
        <p>
          Some providers let you put different headers into the email that can mask where it has come from. We don't
          allow custom headers and rebuild the full email when sent through our service, so it always completely and
          fully originates from our servers.
        </p>
        <li class="text-lg my-4">Automated & Manual reviews</li>
        <p>We manually review all new accounts, and actively disable any we think could be potential spam accounts.</p>
      </ol>

      <h2 class="text-xl mb-4 mt-10 font-bold">We're good citizens & handle the complex parts of sending</h2>
      <p>
        Spammers rarely do all the things that "real" senders do. There are a bunch of written and unwritten rules an
        email server needs to do to fit in with the crowd, and keep deliverability high:
      </p>

      <ol class="list-decimal">
        <li class="text-lg my-4">We handle all of the complex interactions when sending</li>
        <p class="mb-4">
          How you react to SMTP responses is important. We parse each response and categorize them, taking action as
          appropriate. Sometimes this means manual intervention, in other situations we automate the expected behaviour.
          We handle 4xx errors (where we have to to retry sending the email every X minutes for up to three days), and
          we handle 5xx errors, where the server is telling us to stop sending and hard-bounce the email. For any hard
          bounces we automatically add them to a block list and do not send any future emails to this address. Our users
          can remove emails from this list manually if they are confident the issue has been resolved.
        </p>
        <p>
          From a deliverability perspective, the most common (especially for low volume senders) is a <strong
            >Greylisting</strong
          > response. The server is asking us to wait and resend again in a few seconds or minutes. We must back-off and
          send again, ideally with an increasing time between each resend. We handle this transparently for all our customers.
        </p>

        <li class="text-lg my-4">Handling bounce reports</li>
        <p>
          Sometimes an email will be accepted, but the server will later find out it cannot deliver it. The server will
          then send a bounce response via email to the `ReplyTo` address. We pick up these bounce reports, parse them
          and take appropriate action on behalf of your users.
        </p>

        <li class="text-lg my-4">Warmed up IP addresses</li>
        <p>
          All our IP addresses have been warmed up to a sufficient volume over an extended period of time. We rotate new
          IPs into our test pool and warm them up very gradually, before making them available to our customers.
        </p>

        <li class="text-lg my-4">DKIM, SPF & DMARC Support</li>
        <p>
          There are various checks that servers perform to validate the originator of an email, including DKIM, SPF and
          DMARC. Unlike other providers, DKIM is hard requirement to use our service. Out of the box we pass all SPF
          checks, and you can also enable DMARC support by completing the "Advanced Verification" section.
        </p>

        <li class="text-lg my-4">TLS Support</li>
        <p>We support TLS 1.2+ to ensure your emails are sent between SMTP servers with transport level security.</p>

        <li class="text-lg my-4">Feedback Loops (FBLs)</li>
        <p>
          Feedback Loops are a mechanism to give email providers and large senders a notification <a
            href="https://blog.mailpace.com/blog/what-happens-when-you-send-an-email-to-spam/"
            class="underline">when a message is marked as spam</a
          > by end users. We're registered for them, and handle any reports or complaints that come through the FBL.
        </p>

        <li class="text-lg my-4">No dedicated IPs</li>
        <p>
          Unless you're sending 250k+ emails/month, from one domain, in a consistent pattern, having a dedicated IP
          address will hurt your deliverability. This is because your volume will be too low to build a good reputation.
          Most email providers will offer dedicated IPs at a very high price - it's rarely worth it, so we don't offer
          it at all.
        </p>

        <li class="text-lg my-4">1:1 Sending Support</li>
        <p>
          There are a bunch of things our users can do to help with their specific emails, things like link shorteners,
          html emails with only images, blocklisted domains in the email content etc. can trip spam filters. We actively
          review our outgoing spam scores and contact our users if we can help them improve.
        </p>
      </ol>

      <h2 class="text-xl mb-4 mt-10 font-bold">We monitor everything</h2>
      <p>We run monitoring and anomaly detection on our systems, automatically searching for things like:</p>

      <ul class="list-disc my-4">
        <li>Outgoing email spikes from specific domains</li>
        <li>High spam detection rates or increasing Rspamd scores</li>
        <li>High 4xx and 5xx SMTP responses</li>
        <li>Blocklist SMTP responses</li>
        <li>
          Long "time to inbox" times for 3x main providers (published on our <a
            href="https://mailpace.com"
            class="underline">landing page</a
          >
        </li>
      </ul>
      <p>
        Additionally we manually review accounts regularly and monitor external blocklists and deliverability ratings
        for our IPs and domains. There are even some whitelists that our IPs are on.
      </p>

      <p class="my-10">
        As you can see there's quite a lot here, and this is by no means an exhaustive list! If you'd like us to handle
        all of this and more for you, sign up for an account at <a href="https://mailpace.com" class="underline"
          >MailPace.com</a
        >
      </p>
    </div>
  </div>
</Layout>
