---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'MailPace - Privacy Policy',
};
---

<Layout metadata={metadata}>
  <div class="py-12 text-black bg-white">
    <div class="container items-center px-3 pb-4 mx-auto md:w-2/3 md:flex-row">
      <h1 class="text-4xl mb-4">Privacy Notice</h1>

      <p>OhMySMTP Ltd is a company incorporated in England and Wales (company number 13200428).</p>

      <h2 class="my-4 text-2xl">What data we need</h2>
      <p class="my-2">The personal data we collect from you includes:</p>
      <ul class="my-2 ml-4 list-disc">
        <li>Your email address</li>
        <li>Your Internet Protocol (IP) address, and details of which version of web browser you used</li>
        <li>Information on how you use the site, using HTTP logs and necessary session cookies</li>
      </ul>

      <p class="my-2">
        We also process emails sent through our API. These emails are sent through our SMTP server and stored for you to
        access them for up to 30 days.
      </p>

      <p class="my-2">
        The legal basis for processing this data is to provide the transactional email services offered by MailPace.com.
      </p>

      <h2 class="my-4 text-2xl">Why we need it</h2>
      <p class="my-2">
        We collect your email address to allow us to provide a login service and to send important account
        notifications, such as plan upgrades and support services.
      </p>

      <p class="my-2">We also collect data in order to:</p>

      <ul class="my-2 ml-4 list-disc">
        <li>Gather feedback to improve our services</li>
        <li>Respond to any feedback / support requests you send us</li>
        <li>Contact you with product updates and information regarding our services through our mailing list</li>
      </ul>

      <h2 class="my-4 text-2xl">What we do with your data</h2>
      <p class="my-2">The data we collect is only used to run this service.</p>

      <p class="my-2">We will not:</p>

      <ul class="my-2 ml-4 list-disc">
        <li>Sell or rent your data to third parties</li>
        <li>Share your data with third parties for marketing purposes</li>
      </ul>

      <p class="my-2">We will share your data if we are required to do so by law – for example, by court order</p>

      <h2 class="my-4 text-2xl">How long we keep your data</h2>
      <p class="my-2">We will only retain your personal data for as long as:</p>

      <ul class="my-2 ml-4 list-disc">
        <li>It is needed for the purposes set out in this document</li>
        <li>The law requires us to</li>
      </ul>

      <h2 class="my-4 text-2xl">How we protect your data and keep it secure</h2>
      <p class="my-2">
        We are committed to doing all that we can to keep your data secure. We have set up systems and processes to
        prevent unauthorised access or disclosure of your data – for example, we protect your data using varying levels
        of encryption.
      </p>

      <h2 class="my-4 text-2xl">Your rights</h2>
      <p class="my-2">You have the right to request:</p>

      <ul class="my-2 ml-4 list-disc">
        <li>Information about how your personal data is processed</li>
        <li>A copy of that personal data</li>
        <li>That anything inaccurate in your personal data is corrected immediately</li>
      </ul>

      <p class="my-2">You can also:</p>

      <ul class="my-2 ml-4 list-disc">
        <li>Raise an objection about how your personal data is processed</li>
        <li>Request that your personal data is erased if there is no longer a justification for it</li>
        <li>Ask that the processing of your personal data is restricted in certain circumstances</li>
      </ul>

      <p class="my-2">
        If you have any of these requests, contact our support team <a href="mailto:support@mailpace.com">here</a>
      </p>

      <h2 class="my-4 text-2xl">List of Sub-Processors</h2>

      <p class="my-2">
        We share certain information to operate our service with companies that may be considered our "sub-processors"
        under GDPR. These sub-processors are:
      </p>

      <table class="table-auto my-8 border">
        <thead class="text-left border-b-4">
          <th>Company</th><th>Purpose</th><th>Details</th>
        </thead>
        <tbody class="align-top">
          <tr class="border-b"
            ><td><a href="https://freethought.uk/">Freethought</a></td><td>Infrastructure Hosting</td><td
              >Freethought are a UK based ethical web hosting company</td
            ></tr
          >
          <tr class="border-b"
            ><td><a href="https://tebi.io/">Tebi</a></td><td>Off-site backups</td><td
              >Backups are stored for up to seven days in two locations in Germany</td
            ></tr
          >
          <tr class="border-b"
            ><td><a href="https://appsignal.com/">AppSignal</a></td><td>Error & Performance Monitoring</td><td
              >Based in Amsterdam</td
            ></tr
          >
          <tr class="border-b"
            ><td><a href="https://paddle.com/">Paddle</a></td><td>Merchant of Record</td><td
              >Paddle are a global reseller of our software, and help ensure we are fully tax compliant globally, based
              in the UK</td
            ></tr
          >
          <tr class="border-b"
            ><td><a href="https://tutanota.com/">Tutanota</a></td><td>Support email</td><td
              >A secure email service based in Germany</td
            ></tr
          >
          <tr class="border-b"
            ><td><a href="https://plausible.io/">Plausible.io</a></td><td>Analytics</td><td
              >EU-hosted privacy friendly analytics</td
            ></tr
          >
          <tr class="border-b"
            ><td><a href="https://www.clever-cloud.com/">Clever Cloud</a></td><td>Infrastructure Hosting</td><td
              >EU-hosted web application servers and databases</td
            ></tr
          >
        </tbody>
      </table>

      <h2 class="my-4 text-2xl">Changes to this policy</h2>

      <p class="my-2">
        We may change this privacy policy. In that case, the ‘last updated’ date at the bottom of this page will also
        change. Any changes to this privacy policy will apply to you and your data immediately.
      </p>

      <p class="my-2">
        If these changes affect how your personal data is processed, we will take reasonable steps to let you know.
      </p>

      <p class="my-2">Last Updated: December 12th 2023</p>
    </div>
  </div>
</Layout>
