---
import Layout from '~/layouts/PageLayout.astro';
import Image from 'astro/components/Image.astro';

import TransactionalEmailScreenshot from "../assets/images/transactional-email-dashboard-recent-emails.png";
import FullChartBrowser from "../assets/images/full-chart-browser.png";


const metadata = {
  title: 'MailPace - Simple Transaction Email.',
};
---

<Layout metadata={metadata}>
  <module href="/components/layout.html">
    <div class="pt-24">
      <div class="container mx-auto w-3/5 md:flex-row text-center">
        <div class="w-full md:w-4/5 mx-auto">
          <h1 class="my-4 text-5xl font-bold leading-tight">
            MailPace: Simple Transactional Emails for your app, website or service
          </h1>
          <p class="uppercase">Why MailPace</p>
        </div>
      </div>
    </div>
    <div class="mt-10 pb-24 pt-12 text-black bg-white">
      <div class="container items-center px-3 pb-4 mx-auto lg:w-2/5 leading-7">
        <p class="mb-4">
          The goal of MailPace is to provide you with a
          <strong>fast and easy way to send Transactional Emails</strong>, using our modern, easy to use dashboard,
          simple API and easy to integrate application libraries.
        </p>

        <p class="mb-4">
          You can send email with a single HTTPS API call, pull in a library from our supported integrations or even use
          SMTP. We focus on getting users setup quickly and out of the way so you can focus on building your application
          or service.
        </p>
      </div>

      <div class="container items-center px-3 pb-4 mx-auto my-4 lg:w-3/5">
        <Image
          class="z-50 w-full rounded-lg"
          src={FullChartBrowser}
          alt="Screenshot of transactional email provider dashboard MailPace"
        />
      </div>
      <div class="container items-center px-3 pb-4 mx-auto lg:w-2/5 leading-7">
        <h2 class="text-4xl mt-16 mb-4">Getting Started</h2>

        <p class="mb-4">
          When you first sign up for MailPace, we'll take you through our simple four-step onboarding process:
        </p>
        <ul class="list-decimal">
          <li>
            <strong>Setup an organization</strong> - a group of domain names you can send from. It means you can separate
            your different services or companies that have multiple domains or logins to the dashboard
          </li>
          <li>
            <strong>Enter your first domain</strong> - provide a URL and give it a name
          </li>
          <li>
            <strong>Verify your domain</strong> - instructions for verifying your domain over DKIM. This is vital to prove
            ownership of your domain, increase deliverability and prevent spam
          </li>
          <li>
            <strong>Choose a plan</strong> - pick the right plan for your Organization
          </li>
        </ul>

        <h2 class="text-4xl mt-16 mb-4">Sending your first email</h2>

        <p class="mb-4">
          Once inside MailPace, we include examples in multiple code languages, such as Ruby, Python, Go, PHP, and even
          include examples for sending direct from the command line using Curl
        </p>

        <p class="mb-4">
          And we have a full step by step guide for sending your first email in our
          <a href="https://docs.mailpace.com/overview/firstEmail" class="text-gray-800 underline"
            >comprehensive documentation</a
          >
        </p>

        <h2 class="text-4xl mt-16 mb-4">Tracking your emails</h2>

        <p class="mb-4">
          Emails sometimes hard or soft-bounce, and some can even be marked as Spam by our outgoing spam filter. We
          provide an easy to use dashboard to see a summary of your sent emails. You can search for individual emails,
          see their status and drill down on them. We store 30-days of email history
        </p>
      </div>

      <div class="container items-center px-3 pb-4 mx-auto my-4 lg:w-3/5">
        <Image class="z-50 w-full rounded-lg" src={TransactionalEmailScreenshot} alt="Screenshot of transactional email provider dashboard MailPace" />
      </div>
      <div class="container items-center px-3 pb-4 mx-auto lg:w-2/5 leading-7">
        <h2 class="text-4xl mt-16 mb-4">Tagging emails</h2>
        <p class="mb-4">
          If you want to track a particular type of email (for example, password reset emails or account notifications),
          just <a class="font-bold hover:underline" href="https://docs.mailpace.com/reference/send#body-parameters"
            >include a tag in your API request</a
          > or <a class="font-bold hover:underline" href="https://docs.mailpace.com/integrations/smtp#tags"
            >add a tag SMTP header</a
          >.
        </p>
        <p class="mb-4">
          Your tags will show up as a dropdown on the dashboard, and the chart and totals will update when a tag is
          selected. There's no need to define your tags in advance, just include them in your emails and we'll
          automatically add them to the list
        </p>
        <hr />
        <h3 class="mt-12 text-xl">
          As you can see, sending emails with MailPace is <strong
            >the easiest way to send transactional emails from your application, website or service</strong
          >. It's simple, fast and straightforward, sign up and get sending today.
        </h3>
      </div>
    </div>

    <module href="/components/marketing-cta.html"></module>
  </module>
</Layout>
