---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'MailPace - Terms and Conditions of Use',
};
---

<Layout metadata={metadata}>
  <div class="py-12 text-black bg-white">
    <div class="container items-center px-3 pb-4 mx-auto md:w-2/3">
      <h1 class="text-4xl">Terms of Service</h1>
      <h2 class="text-3xl">MailPace Terms and Conditions of Use</h2>
      <h3 class="my-2 text-2xl">1. Terms</h3>

      <p class="my-2">
        By accessing this web site & application, you are agreeing to be bound by these Terms and Conditions of Use, all
        applicable laws and regulations, and agree that you are responsible for compliance with any applicable local
        laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The
        materials contained in this web site are protected by applicable copyright and trade mark law.
      </p>

      <h3 class="my-2 text-2xl">2. MailPace Services</h3>
      <p class="my-2">
        2.1 Service Level Agreement. MailPace guarantees that the email API service and dashboard will be available 99%
        of the time in any given monthly billing period, excluding maintenance. You are entitled to a credit of 5% of
        your given monthly fee for the services for each 30 minutes of MailPace Service unavailability (after the first
        .01%) in a given monthly period.
      </p>
      <p class="my-2">
        2.2 Credit Limitations. You are not entitled to a credit if you are in breach of the terms governing your use of
        the services until you have cured the breach. You are not entitled to a credit if downtime would not have
        occurred but for your breach of these Terms of Service. You are not entitled to a credit for downtime or outages
        resulting from denial of service attacks, virus activity, hacking attempts, or any other circumstances that are
        not within our control. In addition, to receive a credit, you must request a credit by email MailPace's support
        team within thirty (30) days following the end of the downtime. You must show that your use of the services was
        adversely affected in some way as a result of the downtime to be eligible for the credit. Notwithstanding
        anything in these Terms of Service to the contrary, the maximum total credit for the monthly billing period,
        including all guaranties, shall not exceed 100% of the fees for that billing period. Credits that would be
        available but for this limitation will not be carried forward to future billing periods.
      </p>
      <p class="my-2">
        2.3 Delivery. MailPace will use commercially reasonable efforts to deliver your email messages, but MailPace
        does not guarantee delivery. Third party filtering services and other policies of recipient email services may
        prevent successful delivery of your messages
      </p>

      <h3 class="my-2 text-2xl">3. Customer Obligations</h3>
      <p class="my-2">
        3.1 Generally. You may use the services for commercial purposes of sending transactional email only and may not
        use the services in any situation where failure or fault of the services could lead to death or serious bodily
        injury of any person or physical or environmental damage, or to send any marketing emails. You agree that your
        use of any MailPace services will comply with the Acceptable Use Policy below. You agree that you are solely
        responsible for the suitability of the services and your compliance with any applicable laws, including export
        laws and data privacy laws.
      </p>
      <p class="my-2">
        3.2 Suspension of services. MailPace may suspend the services without liability if: (i) MailPace reasonably
        believes that the services are being used in violation of the Agreement; (ii) you don’t cooperate with our
        reasonable investigation of any suspected violation of the Agreement; (iii) there is an attack on the services
        or your services are accessed or manipulated by a third party without your consent, (iv) MailPace is required by
        law or by a regulatory or government body to suspend the services, or (v) there is another event for which
        MailPace reasonably believes that the suspension of the services is necessary to protect the MailPace network or
        our other customers. You agree that if the services are reinstated after a suspension for non-payment or for
        your breach of the Agreement (including the AUP), you will pay a reinstatement fee of $100.
      </p>

      <h3 class="my-2 text-2xl">4. Acceptable Use Policy</h3>
      <p class="my-2">
        This Acceptable Use Policy (“AUP”) describes activities that are not allowed in connection with your use of the
        MailPace services.
      </p>
      <h4>Abuse</h4>
      <p class="my-2">
        You may not use MailPace’s network or services to engage in, foster, or promote illegal, abusive, or
        irresponsible behavior, including:
      </p>
      <ul class="my-4 ml-4 list-disc">
        <li>Creation of Bot accounts;</li>
        <li>Automated account generation;</li>
        <li>
          Creation of accounts for the sole or main purpose of spam delivery, Search Engine Optimization or other
          activities unauthorized by 3rd party Terms of Services & Privacy Policies;
        </li>
        <li>
          Any activity or conduct that is likely to be in breach of any applicable laws, codes or regulations, including
          data protection and privacy laws and laws relating to unsolicited commercial electronic messages;
        </li>
        <li>Use of an internet account or computer without the owner’s authorization;</li>
        <li>
          Unauthorized access to or use of data, systems or networks, including any attempt to probe, scan or test the
          vulnerability of a system or network or to breach security or authentication measures without express
          authorization of the owner of the system or network;
        </li>
        <li>
          Monitoring data or traffic on any network or system without the express authorization of the owner of the
          system or network;
        </li>
        <li>
          Introducing intentionally, knowingly or recklessly, any virus or other contaminating code into the services;
        </li>
        <li>
          Collecting or using information, including email addresses, screen names or other identifiers, by deceit,
          (such as, phishing, Internet scamming, password robbery, spidering, and harvesting);
        </li>
        <li>
          Any conduct that is likely to result in retaliation against the MailPace network or website, or MailPace’s
          employees, officers or other agents, including engaging in behavior that results in any server being the
          target of a denial of service attack (DoS);
        </li>
        <li>
          Any activity intended to withhold or cloak identity or contact information, including the omission, deletion,
          forgery or misreporting of any transmission or identification information, such as return mailing and IP
          addresse;
        </li>
        <li>
          Interference with service to any user of the MailPace or other network including, without limitation, mail
          bombing, flooding, deliberate attempts to overload a system and broadcast attacks;
        </li>
        <li>
          Any action which directly or indirectly results in any of our IP addresses being listed on any abuse database
        </li>
        <li>
          Conducting any gambling activity in violation of any required licenses, codes of practice, or necessary
          technical standards required under the laws or regulations of any jurisdiction in which your site is hosted or
          accessed; or
        </li>
        <li>
          Any action that is otherwise illegal or solicits conduct that is illegal under laws applicable to you or to
          MailPace.
        </li>
      </ul>

      <h4>Offensive Content</h4>
      <p class="my-2">
        You may not publish, transmit or store on or via the services any content or links to any content that MailPace
        reasonably believes:
      </p>
      <ul class="my-4 ml-4 list-disc">
        <li>
          Constitutes, depicts, fosters, promotes or relates in any manner to child pornography, bestiality,
          non-consensual sex acts, or otherwise unlawfully exploits persons under 18 years of age;
        </li>
        <li>
          Publish, transmit or store any content or links to any content that is excessively violent, incites violence,
          threatens violence, contains harassing content or hate speech, creates a risk to a person’s safety or health,
          or public safety or health, compromises national security or interferes with an investigation by law
          enforcement;
        </li>
        <li>
          Is unfair or deceptive under the consumer protection laws of any jurisdiction, including chain letters and
          pyramid schemes;
        </li>
        <li>Is defamatory or violates a person’s privacy; or</li>
        <li>Is otherwise malicious, fraudulent, morally repugnant.</li>
      </ul>

      <h4>No High Risk Use</h4>
      <p class="my-2">
        You may not use the services in any situation where failure or fault of the services could lead to death or
        serious bodily injury of any person, or to physical or environmental damage. For example, you may not use, or
        permit any other person to use, the services in connection with aircraft or other modes of human mass
        transportation or nuclear or chemical facilities.
      </p>

      <h4>Third Party Conduct</h4>
      <p class="my-2">
        You are responsible for violations of this AUP by anyone using your services with your permission or on an
        unauthorized basis as a result of your failure to use reasonable security precautions. Your use of the services
        to assist another person in an activity that would violate this AUP if performed by you is a violation of the
        AUP.
      </p>
      <h4>Other</h4>
      <ul class="my-4 ml-4 list-disc">
        <li>
          Any domains used must belong to the MailPace account holder, or the MailPace account holder must have
          authorization from the domain holder to use their domain to send email through the MailPace service.
        </li>
        <li>
          You may not register to use any services under a false name, or use an invalid or unauthorized credit card in
          connection with any services.
        </li>
      </ul>

      <h4>Consequences of Violation of AUP</h4>
      <p class="my-2">
        If you breach the AUP we may suspend or terminate your services in accordance with the Agreement. We may
        intercept or block any content or traffic belonging to you or to users where services are being used unlawfully
        or not in accordance with this AUP.
      </p>
      <p class="my-2">
        No credit will be available under the Agreement for interruptions of service resulting from any AUP violation.
      </p>

      <h3 class="my-2 text-2xl">5. Website & Application Use License</h3>

      <p class="my-2">
        Permission is granted to temporarily download one copy of the materials (information or software) on MailPace's
        web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of
        title, and under this license you may not:
      </p>

      <ul class="my-4 ml-4 list-disc">
        <li>modify or copy the materials;</li>
        <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
        <li>attempt to decompile or reverse engineer any software contained on MailPace's web site;</li>
        <li>remove any copyright or other proprietary notations from the materials; or</li>
        <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
      </ul>
      <p class="my-2">
        This license shall automatically terminate if you violate any of these restrictions and may be terminated by
        MailPace at any time. Upon terminating your viewing of these materials or upon the termination of this license,
        you must destroy any downloaded materials in your possession whether in electronic or printed format.
      </p>

      <h3 class="my-2 text-2xl">6. Dislaimer</h3>

      <ol type="a">
        <li>
          The materials & services on MailPace's web site are provided "as is". MailPace makes no warranties, expressed
          or implied, and hereby disclaims and negates all other warranties, including without limitation, implied
          warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of
          intellectual property or other violation of rights. Further, MailPace does not warrant or make any
          representations concerning the accuracy, likely results, or reliability of the use of the materials on its
          Internet web site or otherwise relating to such materials or on any sites linked to this site.
        </li>
      </ol>

      <h3 class="my-2 text-2xl">7. Limitations</h3>

      <p class="my-2">
        In no event shall MailPace or its suppliers be liable for any damages (including, without limitation, damages
        for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the
        materials on MailPace's Internet site or the service provided by MailPace, even if MailPace or a MailPace
        authorized representative has been notified orally or in writing of the possibility of such damage. Because some
        jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or
        incidental damages, these limitations may not apply to you.
      </p>

      <h3 class="my-2 text-2xl">8. Governing Law</h3>

      <p class="my-2">
        Any claim relating to MailPace's web site shall be governed by the laws of the United Kingdom of Great Britain
        and Northern Ireland without regard to its conflict of law provisions.
      </p>

      <h3 class="my-2 text-2xl">9. Changes to Terms</h3>

      <p class="my-2">
        We may change our Terms Of Service. In that case, the ‘last updated’ date at the bottom of this page will also
        change. Any changes to this Terms of Service will apply to you and your account immediately.
      </p>

      <p class="my-2">
        If these changes affect how your emails or account is processed, we will take reasonable steps to let you know.
      </p>

      <h4 class="my-2 text-xl">Changelog</h4>
      <p class="my-2">Last Updated: May 4th 2022</p>
      <ul class="my-4 ml-4 list-disc">
        <li>
          May 4th 2022 - Make it clear that MailPace users do not need to own a domain to use it if they have prior
          authorization from the domain owner
        </li>
        <li>Jan 28th 2022 - Name change from OhMySMTP to MailPace</li>
        <li>Feb 19th 2021 - First version published</li>
      </ul>
    </div>
  </div>
</Layout>
