---
import Image from 'astro/components/Image.astro';
import Layout from '~/layouts/PageLayout.astro';

import TransactionalEmailGraphic from "../assets/images/undraw_Subscriber_re_om92.svg";

const metadata = {
  title: 'MailPace - Transactional email that people love.',
};
---

<Layout metadata={metadata}>
  <div class="pt-36">
    <div class="container mx-auto w-4/5 md:flex-row text-center">
      <div class="w-full md:w-4/5 mx-auto">
        <h1 class="my-4 text-5xl font-bold leading-tight">What are transactional emails?</h1>
        <p class="uppercase">A definitive guide</p>
      </div>
    </div>
  </div>

  <div class="mt-20 py-12 text-black bg-white">
    <div class="container items-center px-3 pb-4 mx-auto md:w-2/5">
      <h2 class="text-2xl text-center my-10">Transactional Email Definition</h2>
      <p class="my-4">
        <strong
          >Transactional emails are automated emails sent on a one-time basis, usually triggered by a user interaction
          or system change on a particular website or application.</strong
        > They are typically sent to one person at a time, and contain important, useful or actionable information that relates
        directly to the service or activity involved.
      </p>
      <p class="my-4">
        Typical transactional email types include account notifications, receipts for online purchases, invitations,
        support ticket updates, password reset notifications, magic sign up links and many, many more.
      </p>

      <Image class="w-1/2 mx-auto my-10" src={TransactionalEmailGraphic} alt="Transactional Email Graphic" />

      <h2 class="text-2xl text-center my-10">Transactional Emails vs Marketing Emails</h2>

      <p class="my-4">
        Transactional Emails are distinctly different from Marketing, Bulk or Mass emails. Marketing emails are sent in
        bulk to different cohorts (groups) of customers, with the aim to drive customers to a particular call to action.
        Transactional emails are usually only sent to one person at a time, and have a specific purpose based around the
        service being offered.
      </p>

      <p class="my-4">
        Because most users want to receive transactional email, they tend to have a very high read rate, and a low spam
        score. This in contrast to Marketing emails which have very low read rates and are often marked as spam. As
        such, you should never mix them up, always keep them separate and ideally send through two different services to
        ensure your transactional email read rates and spam scores are not affected by marketing campaigns.
      </p>

      <h2 class="text-2xl text-center my-10">Transactional Email Examples</h2>
      <p class="my-4">There are many transactional email types, here's a list of transactional email examples:</p>

      <ul class="list-disc">
        <li>Password Reset</li>
        <li>Account Creation / New User</li>
        <li>Security Notifications</li>
        <li>Receipt</li>
        <li>Account Notifications</li>
        <li>Invitations</li>
        <li>Support & Feedback</li>
        <li>Summaries & Digests</li>
        <li>Referrals</li>
      </ul>
      <p class="my-4">Of course there are many, many more</p>

      <h2 class="text-2xl text-center my-10">Faster Transactional Emails == Happier Customers</h2>

      <p class="my-4">
        Transactional emails are often used for activities that require an immediate response (e.g. account
        verification) and therefore need to arrive quickly. In many cases <strong
          >users expect transactional emails to land in their inbox almost instantly</strong
        >, and it can be real detraction to customer confidence when they don't. If you've ever had to wait a few hours
        for a receipt for an online purchase, you will know exactly why.
      </p>
      <p class="my-4">
        At <a href="https://mailpace.com">MailPace.com</a> we measure, track and optimize for time to inbox. We publish <a
          href="https://mailpace.com/fast-transactional-emails"
          class="underline font-bold">live results</a
        > on our landing page for all to see to hold ourselves accountable to our fast transactional email delivery times.
      </p>

      <h2 class="text-2xl text-center my-10">Are my emails transactional?</h2>
      <p class="my-4">
        We tend to ask the following questions when trying to evaluate whether an email is a transactional email or not:
      </p>

      <ul class="list-disc">
        <li>Is it intended for one person, or lots of people?</li>
        <li>Is it essential for the user?</li>
        <li>Is it triggered by a user action?</li>
        <li>Does the email provide useful information?</li>
        <li>Is the email personalized to the end user?</li>
        <li>Do my customers/users want to receive this email?</li>
      </ul>
      <p class="my-4">
        Not every transactional email needs to fit this list, but if you find yourself answering No to most of these
        questions, it's probably not a transactional email.
      </p>

      <h2 class="text-2xl text-center my-10">Still not 100% sure? Are your emails an edge case?</h2>

      <h2 class="mb-20">
        If you're not sure if the emails you're sending are transactional or not, contact us via email at <a
          class="font-bold"
          href="mailto:support@mailpace.com">support@mailpace.com</a
        > and we'll confirm if they're a good fit for us.
      </h2>
    </div>
  </div>
  <module href="/components/marketing-cta.html"></module>
</Layout>
