---
import Image from 'astro/components/Image.astro';

import Headline from '~/components/ui/Headline.astro';
import Button from '~/components/ui/Button.astro';
import DocsScreenshot from '~/assets/images/MailPace-Transactional-Email-HTTPS-API-Documentation.png';
---

<div class="max-w-3xl mb-8 md:mb-12 md:mx-auto">
  <Headline
    title="Tidy Documentation"
    subtitle="Our documentation is simple to read, easy to understand and will help you get started in minutes."
  />

  <div class="container items-center px-3 pb-4 mx-auto my-4 lg:w-3/5">
    <a href="https://docs.mailpace.com" target="_blank" rel="noopener noreferrer">
      <Image class="z-50 w-full rounded-lg" src={DocsScreenshot} alt="Screenshot of MailPace Documentation" />
    </a>
  </div>

  <div class="flex justify-center">
    <Button variant="secondary" href="https://docs.mailpace.com/" class="mt-4">Dive into our Docs</Button>
  </div>
</div>
